img {
  max-width: 100%;
  height: auto;
}

p {
    display: none;


}


@media screen and (max-width: 420px) {
    p {
    display: inline-block;
    font-size: 12px;
   margin: 20px;


}
}

@media screen and (max-width: 810px) and (min-width: 421px) {
    p {
    display: inline-block;
    font-size: 25px;
    margin: 40px;

}

}

@media screen and (max-width: 1300px) and (min-width: 811px) {
    p {
    display: inline-block;
    font-size: 30px;
    margin: 50px;

}

}