body {background-color: rgb(62, 35, 19);}
div {
  background-color: rgb(188, 179, 179);
  width: 300px;
  padding: 100px;
  margin: 10px;
}
a {
  color: rgb(74, 44, 26);
  text-decoration: none;
  font-family: "Source Code Pro", sans-serif;
  font-size: 25px;

}
p {
        color:white;
        font-family: "Press Start 2P", sans-serif;
        font-size: 40px;
}

@media screen and (max-width: 420px) {
div {
  width: 140px;
  padding: 60px;
  margin: 0px;
}
a {
  font-size: 10px;

}
p {
        font-size: 15px;
}
}

@media screen and (max-width: 810px) and (min-width: 421px) {
div {
  width: 250px;
  padding: 70px;
  margin: 10px;
}
a {
  font-size: 18px;

}
p {
        font-size: 25px;
}
}