body {
  background-color: rgb(62, 35, 19);
}
p {
  background-color: rgb(109, 102, 102);
  width: 200px;
  padding: 40px;
  margin: 20px;
  box-shadow: 3px 3px 3px #000000;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Press Start 2P", sans-serif;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container div {
  background-color: rgb(62, 35, 19);
  margin: 20px;
  padding: 30px;
  font-size: 15px;
}

img {
  max-width: 53%;
  height: auto;
}

@media screen and (max-width: 865px) {
  #library{
    max-width:50%;
  }
  .container{
    font-size: 7px;
    padding: 30px;
    margin: 0px;
  }
  .container div {
    font-size: 7px;
    padding: 7px;
    margin: 0px;
  }
  p {
    width: 100px;
    padding: 10px;
    margin: 15px;
  }
}

@media screen and (max-width: 1336px) and (min-width: 866px) {
  #library{
    max-width: 40%;
  }
  .container{
    font-size: 10px;
    padding: 10px;
    margin: 0px;
  }
  .container div {
    font-size: 9px;
    padding: 30px;
    margin: 0px;
  }
  p {
    width: 100px;
    padding: 20px;
    margin: 20px;
  }
}